<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/reset.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/login.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/main.css">




    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div id="content"> 

<div id="header">
        <div id="menu">
            <nav id="path">
                <div class="navbar-inner">
                    <ul>

                 <li class="home"><a href="#"><img src="/images/home.png" alt="#"/></a></li></a>
                <li class="dashboard">
                    <a class="name" href="/dashboard">dashboard</a>
                </li>
                 <li class="user">
                    <span class="type">user</span>
                    <a class="name" href="/">register</a>
                </li>
                    </ul>
                        </div>   
                    </nav>
               
                        </div>
                                               
         <div id="user" class="nav">
            {% if app.user %}
            <li id="login-out"><a href="{{ path('user.logout') }}"><i class="icon-off"></i> Sign out</a></li>
              <li id="user-name"><a href="{{ path('user') }}"><i class="icon-user"></i> {{ app.user.displayName }}</a></li>
                        
                    {% else %}
                        <li><a href="{{ path('user.login') }}">Sign in</a></li>
                        <li><a href="{{ path('user.register') }}">Create account</a></li>

                    {% endif %}
                        
        </div>
            </div>


            <div id="main">
                {% block content %}
                {% endblock %}
                </div>

            <div id="footer">
                <ul id="contact">
                    <li><span>admin contact</span><a href="mailto:webmaster@cortext.fr">webmaster[at]cortext[dot]fr</a></li>
                    <li><span>website</span><a href="http://www.cortext.fr">www.cortext.fr</a></li>
                    <li><span>version</span><a href="#">V2.0.0/api</a></li>
                    <li><span>standards</span><a href="http://browsehappy.com/">html5+css3 : please use html5-compliant browser !</a>
                    </li>
                </ul>
            </div>
</div><!--content-->
     
       
            </body>
        </html>
